body, *{
    margin: 0;
    padding: 0;
    font-family: "Roboto", Arial sans-serif;

}

body{
    background: #171615;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 3rem;
    background: #282828;

    .imgCont{
        a{

            img{
                width: 15vw;
    
            }
        }
    }

    .navLinks{
        display: flex;
        align-items: center;
        gap: 1vw;
        
        a{
            text-decoration: none;
            color: #fff;
            transition: .5s;

            &:hover{
                color: #33cd00;
            }
        }
    }

    .account{

        a{
            text-decoration: none;
            color: #fff;
            display: flex;
            align-items: center;
            gap: .5vw;
            transition: .5s;

            img{
                width: 1vw;
                filter: invert(1);

            }
            span{
                font-size: 1rem;
            }

            &:hover{
                color: #33cd00;
            }
        }
    }

    
}

.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 3rem;
    background: #111111;
    
    .mainFooterSection{

        .mainFooterSectionImgs{
            display: flex;
            align-items: center;
            gap: 2rem;
        }
        p{
            color: #fff;
            margin-top: 2rem;
        }
    }

    .linksSection{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 30vw;

        h2{
            color: #fff;
            margin-bottom: .5rem;
        }
        a{
            text-decoration: none;
            color: #7cb064;
            margin-bottom: .5rem;
        }

        .firstLinkSectionColumn{
            .gameLinks{
                display: flex;
                flex-direction: column;
                margin-bottom: 1rem;
    
            }
            .communityLinks{
                display: flex;
                flex-direction: column;
                margin-bottom: 1rem;
    
            }

        }

        .secondLinkSectionColumn{
            .shopLinks{
                display: flex;
                flex-direction: column;
                margin-bottom: 1rem;
    
            }
            .supportLinks{
                display: flex;
                flex-direction: column;
                margin-bottom: 1rem;
    
            }

        }
        
    }

    .otherSection{

        img{
            width: 10vw;
        }
    }
}

.mainCont{
    img{
        width: 100%;
    }

    .discoverSection{
        background: #171615;
        padding: 2rem;

        h2{
            text-align: center;
            color: #fff;
            font-size: 3rem;
            margin-bottom: 5vh;
        }
        .cards{
            display: flex;
            align-self: center;
            justify-content: space-between;

            .card{
                cursor: pointer;

                img{
                    width: 22vw;
                }
                h2{
                    font-size: 1.5rem;
                    text-align: start;
                    margin-bottom: 1vh;
                    margin-top: 2vh;
                }
                p{
                    color: #767676;
                }
            }
        }
    }

    .newsSection{
        background: #262423;
        padding: 2rem 1rem;

        .introSection{
            text-align: center;
            margin-bottom: 3rem;

            h2{
                color: #fff;
                font-size: 3rem;
                margin-bottom: 1.5rem;
            }
            a{
                text-decoration: none;
                font-size: 1.5rem;
                color: #33cd00;
            }
        }

        .newsCards{
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            justify-content: space-evenly;

            .newsCard{
                position: relative;
                margin-bottom: 2rem;

                .mainCardCont{
                    img{
                        width: 22vw;
                    }
                }
                .infoCardCont{
                    position: absolute;
                    bottom: 0rem;
                    color: #fff;
                    font-size: 1.5rem;
                    background: rgb(0, 0, 0, .65);
                    width: 100%;
                    height: 10vh;

                }
            }

        }

        
    }
    
    .addOnsSection{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2rem;

        .addOnsImgCont{
            img{
                width: 50vw;
                
            }
        }

        .addOnsInfoCont{
            display: flex;
            flex-direction: column;
            gap: 2rem;
            width: 40vw;

            h2{
                font-size: 4rem;
                color: #fff;
            }
            p{
                color: #fff;
            }
            a{
                color: #fff;
                background: #3c8527;
                text-decoration: none;
                width: 10vw;
                padding: 1rem 2rem;
                transition: .5s;

                &:hover{
                    background: #2a641c;
                }

            }

        }

    }

}

